<%- include("_header"); -%>
<br>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <a href="/new"class="btn btn-primary"> Add </a>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){%>
                        <%for(var i=0;i<data.length;i++){%>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].name %></td>
                                <td> <%= data[i].address %></td>
                                <td> <%= data[i].phone %></td>
                                <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger"> Delete </a>
                                <a href="/update/<%= data[i].id%>" class="btn btn-info"> Update </a>
                            </td>
                            </tr>
                       <% } %>
                   <% } %>
                </tbody>    
            </table>
        </div>
        <div class="col-md-5">

<%- include("_footer"); -%>