<%- include("../_header"); -%>
<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <h3 class="text-center">Edit</h3>
                <form action="/s009/update/<%= data1&& data1[0] ? data1[0].si09 : '' %>" method="post" class="w-50">
                    <div class="form-group">
                        <label for="sj09">Date</label>
                        <select class="form-control" name="sj09">
                            <option value="">กรุณาเลือก</option>
                            <% if (data2) { %>
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <option value="<%= data2[i].tm09 %>" <% if(data1 && data1[0] && data2[i].tm09==data1[0].sj09){ %>selected<% } %> ><%= data2[i].tn09.toISOString().split('T')[0]  %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sk09"> Vsion </label>
                        <input type="text" id="sk09" name="sk09" placeholder="sk09" value="<%= data1 && data1[0] ? data1[0].sk09 : '' %>" class="form-control">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/s009" class="btn btn-danger">Back</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../_footer"); -%>