<%- include("_header"); -%>
<body class="body">
    <div class="row mt-5">
        <div class="col-md-9 mx-auto">
            <div class="container mt-3">
                <h3 align="center" style="color: black;">boonpun09</h3>
                <a href="/boonpun/add" class="btn btn-primary"> เพิ่มข้อมูล </a>
                <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>name</th>
                        <th>digit</th>
                        <th>action</th>
                    </tr>
                </thead>
                <% if (boonpun09) { %>
                    <% for(var i=0; i<boonpun09.length; i++) { %>
                        <tr>
                            <td><%= (i+1) %></td>
                            <td><%= boonpun09[i].name09 %></td>
                            <td><%= boonpun09[i].digit09.toISOString().split('T')[0] %></td>
                            <td>
                                <a href="/boonpun/update/<%= boonpun09[i].id %>" class="btn btn-warning">แก้ไข</a>
                                <a href="/boonpun/delete/<%= boonpun09[i].id %>" class="btn btn-danger">ลบ</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
            <a href="/" class="btn btn-primary">กลับ</a>
        </div>
    </div>
</div>
</body>

<%- include("_footer"); -%>

