<%- include("../_header"); -%>
<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <h3 class="text-center">Edit Deployment</h3>
                <form action="/deploy/update/<%= data1&& data1[0] ? data1[0].did : '' %>" method="post" class="w-50">
                    <div class="form-group">
                        <label for="did">Device</label>
                        <select class="form-control" id="did" name="did09">
                            <option value="">กรุณาเลือก</option>
                            <% if (data2) { %>
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <option value="<%= data2[i].did %>" <% if(data1 && data1[0] && data2[i].did == data1[0].did09) { %>selected<% } %> ><%= data2[i].Name %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div> 
                    <br>
                    <div class="form-group">
                        <label for="mid">Site</label> <!-- &nbsp;&nbsp;&nbsp;<a href="/media/list">เพิ่ม</a> -->
                       <select class="form-control" id="sid" name="sid09">
                           <option value="">กรุณาเลือก</option>
                           <% if (data3) { %>
                               <% for (var i = 0; i < data3.length; i++) { %>
                                   <option value="<%= data3[i].sid %>" <% if(data1 && data1[0] && data3[i].sid == data1[0].sid09){ %>selected<% } %> ><%= data3[i].Name %></option>
                               <% } %>
                           <% } %>
                       </select>
                   </div>
                    
                    <br>
                    <div class="form-group">
                        <label for="Install"> Install </label>
                        <input type="date" id="Install" name="Install" value="<%= data1 && data1[0] ? data1[0].Install : '' %>" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Comment"> Comment </label>
                        <input type="text" id="Comment" name="Comment" placeholder="comment" value="<%= data1 && data1[0] ? data1[0].comment : '' %>" class="form-control">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/deploy" class="btn btn-danger">Back</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../_footer"); -%>