<!DOCTYPE html>
<html> 
<head>
    <title>651998009</title>
</head>
<body>
    <h1>Data1 :<%=user1.name %> </h1>
    <h1>Data2 :<%=user2.name%> , Address :<%=user2.Address%> ,ID:<%=user2.id%> </h1>
    <h1>Data3 :<%=user3.name%> , ID :<%=user3.id%> , Name :<%=user3.name1%> , Phone :<%=user3.phone%></h1> 
</body>
</html>